<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#3b3e48">
<meta name="color-scheme" content="light">
{{- $description := .Description | default site.Params.description -}}
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
{{- with .OutputFormats.Get "RSS" }}
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="{{ .RelPermalink }}">
{{- end }}
{{- $css := resources.Get "css/main.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
